* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    line-height: 1;
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    
    background-color: black;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-color: #9796c5;
    height: 72px;
    width: 100vw;
}
.menu li {

}

.menu li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    display: block;
    padding: 20px 20px;
    transition: background .3s ease-in;
}
.menu li a:hover {
    background: #696892;
}

.hero {
    height: 410px;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-tittle {
    color:white;
    font-size: 40px;
    font-weight: bold;
    margin: 60px 10px;
}

.subtittle{
    color:#9796c5;
    font-size: 24px;
    margin: 40px 10px;
}
table {
    margin: 0 auto;
    color: #fff;
}
th, td {
    text-align: center;
    padding: .5rem;
    margin: .2rem;
    border: 1px solid #fff;
}
th {
    background: #696892;
}
tr {
    background: #9796c5;
}
tr:nth-child(2n) {
    background: #696892;
}
.data
{
    height: 460px;
    background-repeat: no-repeat;
    background-size: cover;
}

.pinf
{
    color: white;
    text-decoration: none;
    font-size: 20px;   
}

.name{
    color:white;
    font-size: 24px;
    padding-top:12px;
    padding-bottom: 12px;
}

.foot
{
    padding-top: 70px;
}
#container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.top3-container {
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tile {
    padding: 2rem;
    width: 300px;
    text-align: center;

    background: #9796c5;
}
.name {
    font-size: 2rem;
    text-transform: uppercase;
    margin: 0 .3rem;
    height: 100px;
}
.subt {
    color: aliceblue;
    text-align: left;
    height: 200px;
}
img {
    width: 100%;
}